<section class="py-24">
  <div class="container max-w-screen-xl">
    <div class="row align-items-center">
      <div class="mt-5 text-center">
        <h1 class="rfs-25 fw-bolder display-4">
          🎓 Divulgação de Cursos 🎓
        </h1>
        <p class="lead mb-10">
          Pagina para divulgação de cursos presenciais ou on-line confira uma lista abaixo.
        </p>
      </div>
    </div>

    <div class="row">
      <table class="table table-responsive table-hover">
        <thead>
          <tr>
            <th scope="col">NOME DO CURSO</th>
            <th scope="col">DURAÇÃO</th>
          </tr>
        </thead>
      </table>
      <app-curso></app-curso>
    </div>
  </div>
</section>
